<!DOCTYPE html>
<html>
<head>
  <title>Posts Test Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Znamenny+Musical+Notation&display=swap" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Noto Znamenny Musical Notation', serif;
      height: 100vh;
    }

    img {
      width: 100px;
    }

    .blog {
      padding: 50px;
    }

    .post {
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="blog">
    <img src="/images/squarelogo.jpg" />
    <h1>Example MongoDB records</h1>
    <hr/>

    <% posts.forEach(function(post){ %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
    </div>
    <% }) %>
  </div>
</body>
</html>
