<!DOCTYPE html>
<html>
<head>
  <title>DevOps App Test Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Znamenny+Musical+Notation&display=swap" rel="stylesheet">
  <style type="text/css">
    body {
      text-align: center;
      font-family: 'Noto Znamenny Musical Notation', serif;
      height: 100vh;
    }
    .vertical-center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    img {
      width: 150px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to the DevOps Test App!</h1>
    <img src="/images/squarelogo.jpg" />
    <h2>The app is running perfectly.<br>This page was last edited at 21:10 on 4/6/25.<br>Why don't you try the /posts page?</h2>
  </div>
</body>
</html>
